body {  
    background-color: #111117;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

.menu-principal {
    width: 100%;
    background-color: #111117;
    height: 67px;
    
    
}

main{
    padding-right: 100px;
    margin: 0 auto;
    position: relative;
    
}
.logo {
    float: left;
    width: 80%;
    padding: 8px;
    

}
.redes-sociais ul li{
    display: inline-block;
    float: left;
    list-style: none;
    padding: 8px;
    

}
.header-2 {
    background-color: #111117;
    width: 100%;
    
    
}
.menu ul {
    text-align: center;
    

}
.menu ul li {
    display: inline-block;
    color: #f81ce6;
    margin-left: 15px;
    
}
.menu ul li a:hover {
    color: #00bac6;
    border-bottom: 3px solid #4517eb;
}
.menu ul li a { 
    /* letras */
    color: #22c265;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
    
}

.menu-url {
    /* barra por baixo das letras*/
    border-bottom: 4px solid #6408dc;
}
div#bluescreen{
    
    width: 680px;
    margin: 0px auto;
}
    
h1{
    color: #0940b8;
}
p1{
    font: normal 13pt arial;
    color: rgb(255, 255, 255);
}
p2{
    font: normal 19pt italic;
    color: #0940b8;
}
p3{
    font: normal 13pt arial;
    color: rgb(255, 255, 255);
}
div#fim{
    font: normal 13pt arial;
    text-align: center;
    color: rgb(255, 255, 255);
}

div#bluescreen ul li {
    margin-top: 10px;

}
p7{
    font: normal 13pt arial;
    color: #e2360b;
}
